<div class="price">
  <%= range ? "<span class='range-prefix'>from</span> #{price}".html_safe : price %>
  <% unless gross.nil? %><span class="tax-suffix"><%= "#{gross} inc #{Store.settings.tax_name}" %></span><% end %>
</div>
