.price
    = price
    %span.tax-suffix= "#{number_to_currency(gross, :unit => Store::settings.currency, :precision => (gross.round == gross) ? 0 : 2)} Inc #{Store::settings.tax_name}" unless gross.nil?
       