<tr>
    <td>
        <%= stock_adjustment.created_at.strftime('%d/%m/%Y at %I:%M%p') %>
    </td>
    <td class="fifty">    
        <%= stock_adjustment.description %>
    </td>
    <td class="align-left">
        <%= stock_adjustment.adjustment %>
    </td>
</tr>