<div class="threecol">
  <h3>Additional options</h3>
  <p>Feature your product and/or remove SKU options from the product page.</p>
</div>
<div class="ninecol last">
  <fieldset class="widget widget-content widget-last">
    <div class="checkbox blocked">
      <label>
        <%= f.check_box :featured %>
        Featured
      </label>
    </div>
    <div class="checkbox blocked margin">
      <label>
        <%= f.check_box :single %>
        Single SKU product
      </label>
    </div>
    <div class="form-group form-last">
        <label>Tags</label>
        <%= text_field_tag :taggings, params[:taggings], 'data-role' => 'tagsinput', value: @product.tags.map(&:name).join(",") %>
    </div>
  </fieldset>
</div>