.widget.widget-green
  .widget-title
    %h3
      %i.icon-sitemap
      ASSOCIATIONS
  .widget-content
    .row
      .col-md-6
        %h4.widget-header Categories
        .form-group
          - if Category.all.empty?
            %p No categories to select.
          - else
            - Category.all.each do |category|
              .checkbox
                %label
                  = f.radio_button :category_id, category.id
                  = category.name
      .col-md-6
        %h4.widget-header Accessories
        .form-group
          - if Accessory.all.empty?
            %p No accessories to select.
          - else
            - Accessory.all.each do |accessory|
              .checkbox
                %label
                  = check_box_tag "product[accessory_ids][]", option.id, @product.accessory_ids.include?(option.id)
                  = category.name