<div class="widget-sub-heading attachment-heading">
  <h3>Attachments</h3>
  <div class="pull-right">
    <%= link_to new_admin_product_attachment_path(@product), remote: true, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'data-original-title' => 'Add attachment' do %>
      <i class="icon-plus"></i>
    <% end %>
  </div>
</div>
<% if @product.attachments.empty? %>
  <div class="label label-orange label-margin">
    <i class="icon-spam icon-cancel-circle"></i>
    You currently have no attachments for this product
  </div>
<% else %>
  <fieldset class="widget widget-content attachment-form">
    <div class="row">
      <div class="twelvecol">
        <div id="attachments">
          <% @product.attachments.each do |attach| %>
            <%= render partial: 'admin/products/attachments/single', locals: { attachment: attach } %>
          <% end %>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>