.widget.widget-green
  .widget-title
    .widget-controls
      = link_to_add_fields "<i class='icon-plus'></i>".html_safe, f, :attachments,"#image_fields", 'Add image'
    %h3
      %i.icon-picture
      Images
  .widget-content
    #attachments
      #image_fields.row