.widget.widget-green
  .widget-title
    .widget-controls
      = link_to_add_fields "<i class='icon-plus'></i>".html_safe, f, :tags,"#tag_fields", 'Add tag'
    %h3
      %i.icon-tag
      TAGS
  .widget-content
    #tags
      #tag_fields.row
        = add_foreign_field f, :tags