.widget-sub-heading
  %h3 Attachments
  .pull-right
    = link_to_add_fields "<i class='icon-plus'></i>".html_safe, f, :attachments,"#image_fields", 'Add image'
%fieldset.widget.widget-content.attachment-form
  .row
    .twelvecol
      #image_fields.edit_field
        - @product.attachments.each do |attach|
          .attachments.current-file{ :id => "attachment_#{attach.id}" }
            = image_tag attach.file.medium
            = link_to admin_products_attachment_path(attach), :method => :delete, :confirm => 'Are you sure?', :remote => true do
              %i.icon-close
        

