<div class="threecol">
  <h3>Images</h3>
  <p>Upload and edit images of this product. You can also set the default image to display on the product page.</p>
  <%= link_to 'Add image', new_admin_product_attachment_path(@product), remote: true, id: 'add-image', :class => 'btn btn-green btn-normal' %>
</div>
<div class="ninecol last">
  <fieldset class="widget widget-content" id="attachments">
    <% if @product.attachments.empty? %>
      <div class="helper-notification">
        <p>You do not have any images for this product.</p>
        <i class="icon-images"></i>
      </div>
    <% else %>
      <% @product.attachments.each do |attach| %>
        <%= render partial: 'admin/products/attachments/single', locals: { attachment: attach } %>
      <% end %>
    <% end %>
  </fieldset>
</div>