.widget-sub-heading
  %h3 Attachments
  .pull-right
    = link_to_add_fields "<i class='icon-plus'></i>".html_safe, f, :attachments,"#image_fields", 'Add image'
%fieldset.widget.widget-form.attachment-form
  .row
    .twelvecol
      #image_fields
        = add_foreign_field f, :attachments