.widget.widget-green
  .widget-title
    .widget-controls
      = link_to_add_fields "<i class='icon-plus'></i>".html_safe, f, :skus,"#sku_fields", 'Add SKU'
    %h3
      %i.icon-th-large
      SKUs
  .widget-content
    #skus
      #sku_fields.row
        = add_foreign_field f, :skus