<!-- <div class="widget-sub-heading sku-heading">
  <h3>SKUs</h3>
  <div class="pull-right">
    <%= link_to new_admin_product_sku_path(@product), remote: true, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'data-original-title' => 'Add SKU' do %>
      <i class="icon-plus"></i>
    <% end %>
  </div>
</div>
 -->
<div class="threecol">
  <h3>SKU variants</h3>
  <p>Configure the SKU options for selling this product.</p>
</div>
<div class="ninecol last">
  <%= render partial: 'admin/products/skus/table', format: [:html] %>
</div>