.widget-sub-heading
  %h3 Tags
%fieldset.widget.widget-content.tag-form.widget-last
  .row
    .twelvecol
      = text_field_tag :taggings, params[:taggings], 'data-role' => 'tagsinput', value: @product.tags.map(&:name).join(",")