- content_for :title, 'Edit zone'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Country zones', admin_countries_zones_path
- content_for :header, "Editing #{@zone.name}"
- content_for :hide_sub_navigation, 'hide_subnav'

= render 'form'
