- content_for :title, 'Country zones'
- content_for :breadcrumb, 'Zones'
- breadcrumb_add 'Countries', admin_countries_path

.twelvecol
  .page-header
    = link_to new_admin_countries_zone_path, :class => "btn btn-blue btn-large", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Add zone" do
      %i.icon-plus
    %h2.widget.widget-header Zones
  - if @zones.empty?
    %p You don't have any zones yet.
  - else
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Name
            %th Countries
            %th
        %tbody
          - @zones.each do |zone|
            %tr
              %td= zone.name
              %td
                %ul 
                  - zone.countries.each do |country|
                    %li
                      = country.name
              = table_commands zone, admin_countries_zone_path(zone), edit_admin_countries_zone_path(zone), admin_countries_zone_path(zone), 0
