- content_for :title, 'Edit payment method'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Payment methods', admin_pay_types_path
.page-header
    %h1 
        Editing
        = @pay_type.name

= render 'form'
