- content_for :title, 'List payment methods'
- content_for :breadcrumb, 'Payment methods'
.page-header
  %h1 Listing payment methods
  = link_to new_admin_pay_type_path, :class => "btn btn-success" do
    %i.icon-plus
    New payment method
- if @pay_types.empty?
  %p You don't have any payment methods yet.
- else
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Description
        %th
    %tbody
      - @pay_types.each do |pay_type|
        %tr
          %td= pay_type.name
          %td= pay_type.description
          %td
            = table_commands pay_type, admin_pay_type_path(pay_type), edit_admin_pay_type_path(pay_type), admin_pay_type_path(pay_type), 1
