- content_for :title, 'Edit tier'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Shipping tiers', admin_shippings_tiers_path
- content_for :header, "Editing tier ##{@tier.id}"
- content_for :hide_sub_navigation, 'hide_subnav'

= render 'form'