- content_for :title, 'Edit shipping method tier'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Shipping methods', admin_shippings_path
- breadcrumb_add 'Tiers', admin_shippings_tiers_path

= render "form"