- content_for :title, 'New tier'
- content_for :breadcrumb, 'New'
- breadcrumb_add 'Shipping tiers', admin_shippings_tiers_path
- content_for :header, 'New tier'
- content_for :hide_sub_navigation, 'hide_subnav'

= render 'form'