- content_for :title, 'New shipping method tier'
- content_for :breadcrumb, 'New'
- breadcrumb_add 'Shipping methods', admin_shippings_path
- breadcrumb_add 'Tiers', admin_shippings_tiers_path

= render "form"