log/*
tmp
*.DS_Store
.env
vendor/cache/*
tmp/cache/*
vendor/assets/components
.gitkeep
config/settings.yml
db/test.sqlite3

public/uploads/attachment/large
public/uploads/attachment/medium
public/uploads/attachment/small
public/uploads/attachment/original
public/uploads/attachment/square

public/assets