log/*
tmp
*.DS_Store
.env
.ruby-version
dump.rdb
vendor/cache/*
tmp/cache/*
vendor/assets/components
.gitkeep
config/settings.yml
config/secrets.yml
db/test.sqlite3
db/development.sqlite3
doc/*
.yardoc
*.gitkeep
config/deploy.rb
coverage

public/uploads/attachment
public/assets
public/shared/sitemap.xml.gz
