[project]
	description = "Trado is a lightweight, easy to use ecommerce platform; designed to allow developers to quickly deploy a premium ecommerce store for their business"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tom Dallimore (Jellyfishboy)
[access "refs/for/refs/*"]
	read = group user/Tom Dallimore (Jellyfishboy)
	push = group user/Tom Dallimore (Jellyfishboy)
	label-Code-Review = -2..+2 group user/Tom Dallimore (Jellyfishboy)
	label-Verified = -1..+1 group user/Tom Dallimore (Jellyfishboy)
	rebase = group user/Tom Dallimore (Jellyfishboy)
	removeReviewer = group user/Tom Dallimore (Jellyfishboy)
	submit = group user/Tom Dallimore (Jellyfishboy)
[access "refs/heads/*"]
	read = group user/Tom Dallimore (Jellyfishboy)
	create = group user/Tom Dallimore (Jellyfishboy)
	push = +force group user/Tom Dallimore (Jellyfishboy)
	pushMerge = group user/Tom Dallimore (Jellyfishboy)
[access "refs/tags/*"]
	push = group user/Tom Dallimore (Jellyfishboy)
	push = +force group user/Tom Dallimore (Jellyfishboy)
