- content_for :title, 'Edit delivery pricing'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Delivery services', admin_delivery_services_path
- breadcrumb_add @form_delivery_service_price.delivery_service.full_name, admin_delivery_service_delivery_service_prices_path

.twelvecol
  .page-header
    %h2.widget.widget-header Edit delivery pricing
  = form_for @form_delivery_service_price, url: admin_delivery_service_delivery_service_price_path(@form_delivery_service_price.delivery_service, @form_delivery_service_price), html: { role: 'form' } do |f|
    .threecol
    .ninecol.last
      = render partial: 'shared/errors', locals: { object: @delivery_service_price }
    = render partial: 'form', locals: { f: f }
.fourcol.last
