<% content_for :title, 'New delivery pricing' %>
<% content_for :breadcrumb, 'New' %>
<% breadcrumb_add 'Delivery services', admin_delivery_services_path %>
<% breadcrumb_add @delivery_service_price.delivery_service.full_name, admin_delivery_service_delivery_service_prices_path %>

<div class="twelvecol">
  <div class="page-header">
    <h2 class="widget widget-header">New delivery pricing</h2>
  </div>
  <%= form_for @delivery_service_price, url: admin_delivery_service_delivery_service_prices_path(@delivery_service, @delivery_service_price), html: { role: 'form', method: :post } do |f| %>
    <div class="threecol"></div>
    <div class="ninecol last">
      <%= render partial: 'shared/errors', locals: { object: @delivery_service_price } %>
    </div>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
