$("#attachment_<%= params[:id] %>").remove();
$('.attachment-heading').before('<div class="alert alert-success alert-no-margin animated fadeInDown attachment-destroy-alert"><i class="icon-checkmark-circle"></i>Successfully deleted the attachment.</div>').delay(3500).queue(function(next){
    $('.attachment-destroy-alert').addClass('fadeOutUp').delay(800).hide(1);
    next();
});