<% unless @product.attachments.empty? %>
    $('#attachments').html('<% @product.attachments.each do |attach| %><%=j render partial: "admin/products/attachments/single", locals: { attachment: attach } %><% end %>');
<% else %>
    $('#attachments').html('<div class="helper-notification"><p>You do not have any images for this product.</p><i class="icon-images"></i></div>');
<% end %>
soca.animation.alert(
    '.attachment-heading',
    'success',
    'attachment-destroy-alert',
    '<i class="icon-checkmark-circle"></i>Successfully deleted the image.',
    3500
)