if (!$('.failed-attachment-destroy-alert').is(':visible')) {
    $('h3.attachment_header').after('<div class="alert alert-danger failed-sku-destroy-alert"><button data-dismiss="alert" class="close" type="button">×</button>Attachment failed to be removed from the database (you must have at least one image attachment per product).</div>');
}