.attachments{ :id => "attachment-#{attachment.id}", :class => attachment.default_record ? "default" : nil }
    = image_tag attachment.file.square, :height => 140, :width => 140
    = link_to edit_admin_product_attachment_path(attachment.attachable, attachment), remote: true, :class => "label label-green" do
        %i.icon-pencil
    = link_to admin_product_attachment_path(attachment.attachable, attachment), remote: true, method: :delete, :class => "label label-red", data: { confirm: 'Are you sure?' } do
        %i.icon-remove