.page-header
  %h1 Listing dimensions

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Product ID
      %th Weight
      %th Size
      %th Actions
  %tbody
    - @dimensions.each do |dimension|
      %tr
        %td= dimension.product_id
        %td= dimension.weight
        %td= dimension.size
        %td
          = button_to 'Destroy', dimension_path(dimension), :method => :delete, :confirm => 'Are you sure?', :class => "btn btn-danger"
