<h3>Gimson Robotics #<%= @order.id %> Shipping update</h3>
<p>
  Unfortunately your shipping date has been changed, we are sorry for the inconvenience:
</p>
<table>
  <tr><th colspan="2" >Qty</th><th>Description</th></tr>
  <%= @order.order_items %>
</table>