$form = $('.contact-form-container form')
// grant access to form fields and stop the loading animation
$form.css('pointer-events', 'none');
$form.spin(false);
if (!$('.contact-alert').is(':visible')) {
    trado.animation.alert(
        '.contact-form-container h3',
        'success',
        'contact-alert',
        '<button data-dismiss="alert" class="close" type="button">×</button>Thank your for your message; we will be in contact shortly.',
        5000
    )
}
<% @contact = Contact.new %>
$form[0].reset();
$form.find('input').each(function()
{
    if ($(this).parent().hasClass('field-with-errors'))
    {
        $(this).unwrap();
        $(this).next().remove();
    }
});
