<div class="modal fade" id="checkoutLoadingModal" tabindex="-1" role="dialog" aria-labelledby="checkoutLoadingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="checkoutLoadingModalLabel">Processing Payment</h3>
      </div>
      <div class="modal-body">
        <p>Please wait while we process your payment...</p>
      </div>
    </div>
  </div>
</div>