<footer>
  <div id="social">
	<div class="container">
	  <div class="row">
		<div class="col-sm-4 col-lg-4 newsletter-form">
		  <h1>Subscribe to our Newsletter</h1>
		  <div class="input-group">
			<input type="text" class="form-control" placeholder="Your E-mail" /> 
			  <span class="input-group-btn">
				<button class="btn btn-default go" type="button">OK</button>
			  </span>
		  </div>
		</div>
		<div class="col-lg-offset-4 col-sm-offset-3 col-lg-4 col-sm-5">
		  <a href="#" class="instagram">
			<i class="icon-instagram"></i>
		  </a> 
		  <a href="#" class="facebook">
			<i class="icon-facebook"></i>
		  </a> 
		  <a href="#" class="linkedin">
			<i class="icon-linkedin"></i>
		  </a> 
		  <a href="#" class="twitter">
			<i class="icon-twitter"></i>
		  </a> 
		  <a href="#" class="vimeo">
			<i class="icon-vimeo"></i>
		  </a>
		</div>
	  </div>
	</div>
  </div>

  <!-- Menu -->
  <div id="footer-large">
	<div class="container">
	  <div class="row">
		<div class="col-lg-3 col-sm-3">
		  <h1><%= Store.settings.name %></h1>
			<ul>
			  <% page_list.each do |page| %>
				<li>
				  <%= link_to page.render_menu_title, p_path(slug: page.slug), title: page.title %>
				</li>
			  <% end %>
			</ul>
		</div>

		<div class="col-lg-3 col-sm-3">
		  <h1>Resources</h1>
			<ul>
			  <li><a href="#">Help Center</a>
				<li><a href="#">Contact Us</a>
				<li><a href="#">Live Help</a>
				<li><a href="#t">Designers</a>
				<li><a href="#">Manufacturers</a>
				<li><a href="#">Sellers</a>
			</ul>
		</div>

		<div class="col-lg-3 col-sm-3">
		  <h1>Get to Know Us</h1>
			<ul>
			  <li><a href="#">Our Core Values</a>
				<li><a href="#">The Team</a>
				<li><a href="#">Press</a>
				<li><a href="#">Careers</a>
				<li><a href="#">Blog</a>
				<li><a href="#">Future Plans</a>
			</ul>
		</div>

		<div class="col-lg-3 col-sm-3">
		  <h1>Legal</h1>
			<ul>
			  <li><a href="#">Terms and Condition</a>
				<li><a href="#">Privacy Policy</a>
				<li><a href="#">Copyright Concern</a>
				<li><a href="#">Trademark</a>
				<li><a href="#">Code of Conduct</a>
				<li><a href="#">Trust Promise</a>
			</ul>
		</div>
	  </div>
	</div>
  </div>

  <div id="copyright">
	  <div class="container">
		<div class="row centered">
		  &copy; <a href="http://www.tomdallimore.com">Tom Dallimore</a> | Redlight e-commerce theme | All rights reserved.
			</div>
		</div>
	</div>
</footer>
