<nav id="mp-menu" class="mp-menu">
    <div class="mp-level">
        <ul>
            <li>
                <%= link_to 'Home', root_path %>
            </li>
            <% category_list.each do |category| %>
                <li>
                    <%= link_to category.name, category %>
                </li>
            <% end %>
        </ul>
    </div>
</nav>