<nav id="mp-menu" class="mp-menu">
    <div class="mp-level">
        <ul>
            <li>
                <%= link_to 'Home', root_path %>
            </li>
            <li><a href="category.html">Mens</a></li>
            <li><a href="category.html">Womens</a></li>
            <li><a href="category.html">Jewelry</a></li>
            <li><a href="category.html">Accessories</a></li>
        </ul>
    </div>
</nav>