<% content_for :title, 'Stock management' %>
<% content_for :breadcrumb, @sku.full_sku %>
<% breadcrumb_add 'Products', admin_products_path %>
<% breadcrumb_add 'Stock management', admin_products_stock_index_path %>

<div class="twelvecol">
  <div class="page-header">
    <%= link_to new_admin_product_sku_stock_adjustment_path(@sku.product, @sku), remote: true, id: 'add-stock-adjustment-button', :class => "btn btn-blue btn-large", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Add stock adjustment" do %>
      <i class="icon-plus"></i>
    <% end %>
    <h2 class="widget widget-header"><%= @sku.full_sku %> stock history</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered" id='stock-table'>
      <thead>
        <tr>
          <th>Date</th>
          <th class="fifty">Description</th>
          <th>Adjustment</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody>
        <% @stock_adjustments.each do |adjustment| %>
          <%= render partial: 'admin/products/skus/stock_adjustments/single', format: [:html], locals: { stock_adjustment: adjustment } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div id="stock-adjustment-modal"></div>