$("tr#sku_<%= params[:id] %>").remove();
$('.sku-heading').before('<div class="alert alert-success alert-no-margin animated fadeInDown sku-destroy-alert"><i class="icon-checkmark-circle"></i>Successfully deleted the SKU.</div>').delay(3500).queue(function(next){
    $('.sku-destroy-alert').addClass('fadeOutUp').delay(800).hide(1);
    next();
});