$('.sku-heading').before('<div class="alert alert-warning alert-no-margin animated fadeInDown sku-failed-destroy-alert"><i class="icon-spam"></i>Failed to remove the SKU from the database (you must have at least one SKU per product).</div>').delay(3500).queue(function(next){
    $('.sku-failed-destroy-alert').addClass('fadeOutUp').delay(800).hide(1);
    next();
});