$('#sku-form').modal('hide');
$('.sku-heading').before('<div class="alert alert-success alert-no-margin"><i class="icon-checkmark-circle"></i>Successfully updated the SKU.</div>');
$('body').scrollTo('.sku-heading', 800);