.table-responsive
  %table.table.table-striped.table-bordered.table-hover.table-margin
    %thead
      %tr
        %th Code
        %th Weight
        %th Length
        %th Thickness
        %th Attribute value
        %th Attribute type
        %th Stock
        %th Stock warning level
        %th Cost value
        %th Price
        %th
    %tbody#sku-fields
      - @product.skus.each do |sku|
        %tr{ :id => "sku_#{sku.id}" }
          = render partial: 'admin/products/skus/single', locals: { sku: sku }