<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover table-form">
    <thead>
      <tr>
        <th>Code</th>
        <% @product.variant_types.each do |type| %>
          <th><%= type.name %></th>
        <% end %>
        <th>Stock</th>
        <th>Cost value</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="sku-fields">
      <% @skus.each do |sku| %>
        <tr id="sku-<%= sku.id %>">
          <%= render partial: 'admin/products/skus/single', format: [:html], locals: { sku: sku } %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
