- content_for :title, 'Tax rates'
- content_for :breadcrumb, 'Tax rates'
- content_for :header, 'Tax rates'
- content_for :hide_sub_navigation, 'hide_subnav'
= link_to new_admin_tax_rate_path, :class => "btn btn-success add_record" do
  %i.icon-plus
  New tax rate
- if @tax_rates.empty?
  %p You don't have any tax rates yet.
- else
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Rate
        %th
    %tbody
      - @tax_rates.each do |tax_rate|
        %tr
          %td= tax_rate.name
          %td= tax_rate.rate
          = table_commands tax_rate, admin_tax_rate_path(tax_rate), edit_admin_tax_rate_path(tax_rate), admin_tax_rate_path(tax_rate), 1
