- content_for :title, 'New tax rate'
- content_for :breadcrumb, 'New'
- breadcrumb_add 'Tax rates', admin_tax_rates_path
- content_for :header, 'New tax rate'
- content_for :hide_sub_navigation, 'hide_subnav'

= render 'form'