<div class="container">
  <div class="row product">
    <div class="col-lg-6 col-sm-6">
      <div class="row">
        <div class="col-lg-3 col-sm-3 hidden-sm product-thumb">
          <img src="http://placehold.it/105x105" data-src="http://placehold.it/440x475"/>
          <img src="http://placehold.it/105x105" data-src="http://placehold.it/440x475" class="selected"/>
          <img src="http://placehold.it/105x105" data-src="http://placehold.it/440x475"/>
          <img src="http://placehold.it/105x105" data-src="http://placehold.it/440x475"/>
        </div>
        <div class="col-lg-9 col-sm-12 col-md-9 product-main">
          <img src="http://placehold.it/440x475"/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 visible-sm hidden-xs hidden-lg hidden-md product-thumb">
          <img src="http://placehold.it/75x75"/>
          <img src="http://placehold.it/75x75" class="selected"/>
          <img src="http://placehold.it/75x75"/>
          <img src="http://placehold.it/75x75"/>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-6 content">
      <h1>Heartside out Tee</h1>
      <p class="details">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney.
      </p>

      <h2>£39.00</h2>

      <div class="row hidden-xs">
        <div class="col-lg-4 col-sm-4 property">
          <h3>Color</h3>
        </div>
        <div class="col-lg-4 col-sm-4 property">
          <h3>Size (size chart)</h3>
        </div>
        <div class="col-lg-4 col-sm-4 property">
          <h3>Quantity</h3>
        </div>
      </div>

      <div class="row options">
        <div class="col-lg-4 col-sm-4">
          <p class="visible-xs">
            Color
          </p>
          <select class="form-control">
            <option>White</option>
            <option>Red</option>
            <option>Blue</option>
            <option>Green</option>
            <option>Yellow</option>
          </select>
        </div>

        <div class="col-lg-4 col-sm-4">
          <p class="visible-xs">
            Size
          </p>
          <select class="form-control">
            <option>Choose a Size</option>
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option>
          </select>
        </div>

        <div class="col-lg-4 col-sm-4">
          <p class="visible-xs">
            Quantity
          </p>
          <strong class="decrease-quantity">-</strong>&nbsp;&nbsp;
          <input type="text" class="form-control" id="item-quantity" value="1"/>
          &nbsp;&nbsp;<strong class="increase-quantity">+</strong>
        </div>
      </div>

      <a href="#" class="btn green">Add to cart</a>
      <ul id="social">
        <li>
          <a href="#">
            <div class="fb">
              <i class="icon-facebook"></i>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="tw">
              <i class="icon-twitter"></i>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="gp">
              <i class="icon-google-plus"></i>
            </div>
            </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
<div class="innertabs" id="product">
  <div class="container-fluid">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-sm-12">

          <ul class="nav nav-tabs visible-xs" id="myTab">
            <li class="active">
              <a data-toggle="tab" href="#product-description">Description</a>
            </li>
            <li class="">
              <a data-toggle="tab" href="#product-delivery">Shipping</a>
            </li>
          </ul>

          <ul class="nav nav-tabs hidden-xs" id="myTab">
            <li class="active">
              <a data-toggle="tab" href="#product-description">Description</a>
            </li>
            <li class="">
              <a data-toggle="tab" href="#product-delivery">Shipping / Return Policy</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="inner-tab-contents">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 col-sm-12">
        <div class="tab-content" id="myTabContent">
          <div id="product-description" class="tab-pane fade active in">
            <h4>description</h4>

            <p>
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
              classical Latin
              literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
              Hampden-Sydney
              College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
              passage, and
              going through the cites of the word in classical literature.
            </p>

            <h4>instructions</h4>

            <p>
              - 30 Degrees Normal progress
              <br>
              - Do not bleech
              <br>
              - Medium Temperature Iron
              <br>
              - Do not tumble dry
              <br>
            </p>
          </div>
          <div id="product-delivery" class="tab-pane fade">
            <div class="row">
              <div class="col-lg-12 col-sm-12 box">
                <h4>Shipping</h4>

                <p>
                  <span class="lb">Shipping in:</span><strong>2 Days</strong>
                </p>

                <p>
                  <span class="lb">Methods</span><strong>USPS, UPS</strong>
                </p>
                <h4>Return policy</h4>
                <p>
                  To qualify for a hassle-free return, you must pay with PayPal and have the item shipped to a US
                  address. The
                  item must be returned in the same condition it was received. <a href="#">See terms and conditions</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>