- if @shippings.nil? || @shippings.empty?
    %p.shipping_notice Sorry, we do not ship to this country. Please check out our delivery and returns page for more information.
- else
    - @shippings.each_with_index do |shipping, index|
        %div.option
            = radio_button_tag "order[shipping_id]", shipping.id, index == 0 ? true : false
            %h5= shipping.name
            %p= shipping.description
            %h6= Store::Price.new(shipping.price).markup