<% content_for :title, 'Orders' %>
<% content_for :breadcrumb, 'Orders' %>
<% javascript :footer, 'admin/soca.datepicker' %>

<div class="twelvecol">
  <div class="page-header">
    <h2 class="widget widget-header">Orders</h2>
  </div>
  <div class="widget-controls">
    <select class="form-select" id="filter-order-delivery">
      <option class="filter" data-filter="all">Show all</option>
      <option class="filter" data-filter=".order-dispatched">Dispatched</option>
      <option class="filter" data-filter=".order-pending">Pending</option>
    </select>
    <span>Delivery:</span>
  </div>
  <% if @orders.empty? %>
    <div class="widget widget-content">
      <div class="helper-notification">
        <p>You don't have any orders yet.</p>
        <i class="icon-box-add"></i>
      </div>
    </div>
  <% else %>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Order No.</th>
            <th>Delivery Status</th>
            <th>Payment Status</th>
            <th>Gross Amount</th>
            <th>Last Updated</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="mixitup">
          <% @orders.each do |order| %>
            <tr id="order_<%= order.id %>" class="<%= order_filter_classes(order) %> mix">
              <%= render partial: 'admin/orders/single', format: [:js], locals: { order: order } %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
<div id="order-modal"></div>
<div id="dispatch-order-modal"></div>