<% content_for :title, 'Edit accessory' %>
<% content_for :breadcrumb, 'Edit' %>
<% breadcrumb_add 'Accessories', admin_accessories_path %>

<div class="twelvecol">
  <div class="page-header">
    <h2 class="widget widget-header">Edit accessory</h2>
  </div>
  <%= form_for [:admin, @form_accessory], html: { role: 'form' } do |f| %>
    <div class="threecol"></div>
    <div class="ninecol last">
      <%= render partial: 'shared/errors', locals: { object: @accessory } %>
    </div>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
