- content_for :title, 'Edit accessory'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Accessories', admin_accessories_path

.twelvecol
  .page-header
    %h2.widget.widget-header Edit accessory
  = form_for [:admin, @form_accessory], html: { role: 'form' } do |f|
    .threecol
    .ninecol.last
      = render partial: 'shared/errors', locals: { object: @accessory }
    = render partial: 'form', locals: { f: f }
.fourcol.last

