<div id="cart-container">
    <table id="cart-items">
        <tbody>
            <tr>
                <td>
                    <img src="img/pfolio-3.png">
                </td>
                <td>
                    <table class="cart-item-details">
                        <tbody>
                            <tr>
                                <td>Gitman Casual Shirt</td>
                            </tr>
                            <tr>
                                <td>Small / Brown</td>
                            </tr>
                            <tr>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <div>£139</div>
                    <a href="#" class="delete-cart-item">
                        <i class="icon-close"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="img/pfolio-3.png">
                </td>
                <td>
                    <table class="cart-item-details">
                        <tbody>
                            <tr>
                                <td>Gitman Casual Shirt</td>
                            </tr>
                            <tr>
                                <td>Large / Green</td>
                            </tr>
                            <tr>
                                <td>4</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <div>£556</div>
                    <a href="#" class="delete-cart-item">
                        <i class="icon-close"></i>
                    </a>
                </td>

            </tr>
        </tbody>
    </table>
    <hr>
    <table id="cart-total">
        <tbody>
            <tr>
                <td>
                    Total
                </td>
                <td>
                £695
                </td>
            </tr>
        </tbody>
    </table>
    <a href="mycart.html" class="btn green">View Cart</a>
</div>