$("#cartContainer").html("<%=j render partial: theme_presenter.page_template_path('carts/cart'), format: [:html] %>");
<% unless current_cart.cart_items.count == 0 %>
    $('.checkout-container .table-items tbody').html("<%=j render partial: theme_presenter.page_template_path('orders/cart'), format: [:html] %>");
<% else %>
    $('.checkout-container .right-align').remove();
    $('.checkout-container .table-items').html('<h4>Your cart is empty</h4>');
<% end %>
$(".total_price").addClass("update").delay(1000).queue(function(next){
      $(this).removeClass("update");
      next();
  });
if (!$('.order-alert').is(':visible')) {
    trado.animation.alert(
      '.checkout-container .table-items',
      'success',
      'order-alert',
      '<button data-dismiss="alert" class="close" type="button">×</button>Your cart has been updated successfully.',
      2300
    )
}