<div class='checkout'>
  <div class='container'>
    <div class='row checkout-header hidden-xs'>
      <div class='col-lg-8 col-sm-8'>
        <h2>My cart</h2>
      </div>
      <div class='col-lg-4 col-sm-4'>
        <h2>Order Summary</h2>
      </div>
    </div>
    <div class='row checkout-panel'>
      <h2 class="checkout-header visible-xs">My cart</h2>
      <div class="col-lg-8 col-sm-8">
        <table id="cart-mobile">
          <tbody>
            <tr>
              <td>
                <table class="single-product">
                  <tbody>
                    <tr>
                      <td>
                        <table class="product-details">
                          <tbody>
                            <tr>
                              <td><%= image_tag 'redlight/pfolio-3.png' %></td>
                              <td>
                                <table class="product-information">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <h3>Gitman Casual Shirt</h3>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Size: S</td>
                                    </tr>
                                    <tr>
                                      <td>Color : Brown</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    <tr>
                      <td>
                        <table class="product-specifics">
                          <tbody>
                            <tr>
                              <td>Quantity</td>
                              <td>
                                <input type="text" value="1">
                              </td>
                            </tr>
                            <tr>
                              <td>Unit Price</td>
                              <td id="price">£139</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table class="single-product">
                  <tbody>
                    <tr>
                      <td>
                        <table class="product-details">
                          <tbody>
                            <tr>
                              <td><%= image_tag 'redlight/pfolio-3.png' %></td>
                              <td>
                                <table class="product-information">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <h3>Gitman Casual Shirt</h3>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Size: S</td>
                                    </tr>
                                    <tr>
                                      <td>Color : Brown</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    <tr>
                      <td>
                        <table class="product-specifics">
                          <tbody>
                            <tr>
                              <td>Quantity</td>
                              <td>
                                <input type="text" value="1">
                              </td>
                            </tr>
                            <tr>
                              <td>Unit Price</td>
                              <td id="price">£139</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table id="cart">
          <tbody>
            <tr>
              <td><%= image_tag 'redlight/pfolio-3.png' %></td>
              <td>
                <table id="product-information">
                  <tbody>
                    <tr>
                      <td>
                        <h3>Gitman Casual Shirt</h3>
                      </td>
                    </tr>
                    <tr>
                      <td>Size: S</td>
                    </tr>
                    <tr>
                      <td>Color : Brown</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td>
                <input type="text" value="1">
              </td>
              <td>£139</td>
              <td>
                <a href="#">
                  <i class="icon-close"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td><strong>TOTAL:</strong></td>
              <td><strong>£139.00</strong></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2 class='checkout-header visible-xs'>Order Summary</h2>
      <div class='col-lg-4 col-sm-4 order-summary'>
        <div id='checkout-calculation'>
          <div id='checkout-breakdown'>
            <div>
              <span>SUB-TOTAL:</span>
              <span>DELIVERY:</span>
            </div>
            <div>
              <span>£139.00</span>
              <span>£24.00</span>
            </div>            
          </div>
          <hr>
          <div id="checkout-total">
            <div>
              <strong>ORDER TOTAL:</strong>
            </div>
            <div>
              <strong>£163.00</strong>
            </div>
          </div>
          <hr>
        </div>
        <a class="btn green checkout-button" href="checkout.html">Checkout</a>
        <div id='checkout-secure'>
          <%= image_tag 'redlight/secure-checkout.png', alt: 'Secure Checkout' %>
          <span class='text-shipping'>SECURE CHECKOUT</span>
        </div>
      </div>
    </div>
  </div>
</div>