- content_for :title, 'Edit country'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Countries', admin_shippings_countries_path
- content_for :header, "Editing #{@country.name}"
- content_for :hide_sub_navigation, 'hide_subnav'

= render 'form'
