- content_for :title, 'Zones'
- content_for :breadcrumb, 'Zones'

.twelvecol
  .page-header
    = link_to new_admin_zone_path, :class => "btn btn-blue btn-large", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Add zone" do
      %i.icon-plus
    %h2.widget.widget-header Zones
  - @zones.each do |zone|
    .widget-sub-heading
      %h3= zone.name
      .pull-right
        = table_commands zone, admin_zone_path(zone), edit_admin_zone_path(zone), admin_zone_path(zone), 0
    %table.table.table-striped.table-bordered.table-hover.table-margin
      %tbody
        - zone.countries.each do |country|
          %tr
            %td.align-left= country.name
