<% content_for :title, t('delivery_services.edit.title') %>
<% content_for :breadcrumb, t('delivery_services.edit.breadcrumb') %>
<% breadcrumb_add t('delivery_services.edit.delivery_service_index'), admin_delivery_services_path %>

<div class="twelvecol">
  <div class="page-header">
    <h2 class="widget widget-header"><%= t('delivery_services.edit.header') %></h2>
  </div>
  <%= form_for [:admin, @delivery_service], html: { role: 'form' } do |f| %>
    <div class="threecol"></div>
    <div class="ninecol last">
      <%= render partial: 'shared/errors', locals: { object: @delivery_service } %>
    </div>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
<div id="delivery-service-modal"></div>
