- content_for :title, 'Edit delivery service'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Delivery services', admin_delivery_services_path

.twelvecol
  .page-header
    %h2.widget.widget-header Edit delivery service
  = form_for [:admin, @delivery_service], html: { role: 'form' } do |f|
    .threecol
    .ninecol.last
      = render partial: 'shared/errors', locals: { object: @delivery_service }
    = render partial: 'form', locals: { f: f }
.fourcol.last
#delivery-service-modal
