<div class="breadcrumbs fixed" id="breadcrumbs">
  <ul class="breadcrumb">
    <i class="icon-home home-icon"></i>
    <% if params[:controller] == "admin" && params[:action] == "dashboard" %>
      <li class="dashboard_home">Dashboard</li>
    <% else %>
      <% breadcrumbs.each do |n| %>
          <li>
            <%= link_to n[:title], n[:url] %>
            <span class="divider">
              <i class="icon-angle-right arrow-icon"></i>
            </span>
          </li>
      <% end %>
      <li><%= yield(:breadcrumb) %></li>
    <% end %>
  </ul>
</div>
