<ol class="breadcrumb">
  <% if params[:controller] == "admin/admin" && params[:action] == "dashboard" %>
      <li>Dashboard</li>
  <% else %>
    <% breadcrumbs.each do |n| %>
      <li>
        <%= link_to n[:title], n[:url] %>
      </li>
    <% end %>
    <li><%= yield(:breadcrumb) %></li>
  <% end %>
</ol>
