.darker-stripe
  .container
    .row
      .span12
        %ul.breadcrumb
          - breadcrumbs.each do |n|
            %li
              = link_to n[:title], n[:url]
            %li
              %span.icon-chevron-right
          %li= yield(:breadcrumb)