<div class="darker-stripe">
      <div class="container">
        <div class="row">
          <div class="span12">
              <ul class="breadcrumb">
                    <% breadcrumbs.each do |n| %>
                        <li>
                          <%= link_to n[:title], n[:url] %>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                    <% end %>
                    <li><%= yield(:breadcrumb) %></li>
                </ul>
          </div>
        </div>
      </div>
  </div>
