<div class="hidden-phone visible-desktop action-buttons">
  <%= link_to object, :method => :delete, :confirm => 'Are you sure?', :remote => :true, :class => 'red' do %>
    <i class="icon-remove bigger-130"></i>
  <% end %>
</div>

<div class="hidden-desktop visible-phone">
  <div class="inline position-relative open">
    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
      <i class="icon-caret-down icon-only bigger-120"></i>
    </button>

    <ul class="dropdown-menu dropdown-icon-only dropdown-yellow pull-right dropdown-caret dropdown-close">
      <li>
        <%= link_to object, :method => :delete, :confirm => "Are you sure?", :remote => true, :class => 'tooltip-success', 'data-rel' => 'tooltip', 'data-original-title' => 'Delete' do %>
          <span class="red">
            <i class="icon-remove bigger-120"></i>
          </span>
        <% end %>
      </li>
    </ul>
  </div>
</div>