%td
  = link_to edit do
    %i.icon-pencil
  - if type == 2 && object.shipping_status == "Pending" && object.transaction.payment_status == "Completed"
    %a{href: "#", id: object.id}
      %i.icon-airplane
  - unless type == 2
    = link_to del, :method => :delete, :confirm => 'Are you sure?' do
      %i.icon-remove