<div id="inner-block" class="listing-products">
    <div class="container">
        <div class="row list-header">
            <div class="col-lg-12 col-sm-12">
                <h1>
                    Search results
                    <span>(54)</span>
                </h1>
                <form accept-charset="UTF-8" action="#" class="new_search" id="new_search" method="post">
                    <div class='form-check-group'>
                        <input id="search" name="search" type="search" value="skirt" placeholder="Search now" />
                    </div>
                    <input class="btn green checkout-button" type="submit" value="SEARCH">
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-sm-12" id="list-wrapper">

                <div class="col-lg-3 col-sm-3 list">
                    <a href="product.html">
                        <img src="img/pl-1.png" />
                    </a>
                    <h3>$79</h3>
                    <h2>
                        <a href="product.html">Ipsum Ante Ipsum Primis In</a>
                    </h2>
                    <div class="row">
                        <div class="col-lg-5 col-sm-5">
                            <p>IN STOCK</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 list">
                    <a href="product.html">
                        <img src="img/pl-1.png" />
                    </a>
                    <h3>$79</h3>
                    <h2>
                        <a href="product.html">Ipsum Ante Ipsum Primis In</a>
                    </h2>
                    <div class="row">
                        <div class="col-lg-5 col-sm-5">
                            <p>IN STOCK</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 list">
                    <a href="product.html">
                        <img src="img/pl-1.png" />
                    </a>
                    <h3>$79</h3>
                    <h2>
                        <a href="product.html">Ipsum Ante Ipsum Primis In</a>
                    </h2>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <p>IN STOCK</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 list">
                    <a href="product.html">
                        <img src="img/pl-1.png" />
                    </a>
                    <h3>$79</h3>
                    <h2>
                        <a href="product.html">Ipsum Ante Ipsum Primis In</a>
                    </h2>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <p>IN STOCK</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 list">
                    <a href="product.html">
                        <img src="img/pl-1.png" />
                    </a>
                    <h3>$79</h3>
                    <h2>
                        <a href="product.html">Ipsum Ante Ipsum Primis In</a>
                    </h2>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <p>IN STOCK</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>