<div class="container">
    <div id="fourzerofour">
        <h1>404</h1>
        <h2>The page you were looking for appears to have been <br>moved, deleted or does not exist.</h2>
        <form accept-charset="UTF-8" action="#" class="new_search" id="new_search" method="post">
            <div class='form-check-group'>
                <input id="search" name="search" type="search" value="" placeholder="Search Redlight" />
            </div>
            <input class="btn green checkout-button" type="submit" value="SEARCH">
        </form>
    </div>
</div>