<% content_for :title, '422 Error' %>
<% content_for :breadcrumb, '422' %>

<div class="container">
    <div id="fourzerofour">
        <h1>422</h1>
        <h2>Oops, looks like  something went wrong. <br>We track these errors automatically, but if the problem persists feel free to contact us.</h2>
        <%= form_tag search_path, method: :get, class: 'new_search', id: 'new_search' do %>
            <div class='form-check-group'>
                <%= text_field_tag(:query, params[:query], autocomplete: 'off', tabindex: "1", id: 'search', placeholder: "Search #{Store.settings.name}", name: 'search' ) %>
            </div>
            <%= submit_tag 'SEARCH', class: 'btn green checkout-button' %>
        <% end %>
    </div>
</div>