<div class="container">
    <div id="fourzerofour">
        <h1>500</h1>
        <h2>Oops, looks like  something went wrong. <br>We track these errors automatically, but if the problem persists feel free to contact us.</h2>
        <form accept-charset="UTF-8" action="#" class="new_search" id="new_search" method="post">
            <div class='form-check-group'>
                <input id="search" name="search" type="search" value="" placeholder="Search Redlight" />
            </div>
            <input class="btn green checkout-button" type="submit" value="SEARCH">
        </form>
    </div>
</div>