- content_for :title, '500 Error'
- content_for :breadcrumb, '500'

.darker-stripe
.container
  .push-up.blocks-spacer
    .row
      %section.span12
        .container-error
          %h1 500 Error
        %hr/
        %p.center-align.size-16
          We are sorry, but something went wrong. We have been notified of the issue.
        %p.center-align.size-16.push-down-50
          Go
          = "#{link_to 'Home', root_path}.".html_safe