$("#tag_<%= params[:id] %>").remove();
if (!$('.tag-destroy-alert').is(':visible')) {
    $('#tags').before('<div class="alert alert-success tag-destroy-alert"><button data-dismiss="alert" class="close" type="button">×</button>Tag was successfully deleted.</div>');
}