<% @new_shippings.each do |shipping| %>
  <label>
    <%= radio_button_tag :shipping, shipping.id %>
    <span class="lbl">
    <%= shipping.name %> - <b><%= format_currency shipping.price %></b>
    </span>
  </label>
<% end %>