- if defined?(@new_shippings)
  - if @new_shippings.empty?
    %p.shipping_notice Sorry, we do not ship to this country. Please check out our delivery and returns page for more information.
  - else
    - @new_shippings.each do |shipping|
      %div.option
        = radio_button_tag "order[shipping_id]", shipping.id, :checked => 'checked'
        %h5= shipping.name
        %p= shipping.description
        %h6= format_currency shipping.price