- content_for :title, @page.page_title
- content_for :meta_description, @page.meta_description

/ ==========
/ = Breadcrumbs =
/ ==========
.darker-stripe
  .container
    .row
      .span12
        %ul.breadcrumb
          %li
            %a{href: "index.html"} Webmarket
          %li
            %span.fa.fa-chevron-right
          %li
            %a{href: "about-us.html"} About Us
.container
  .push-up.blocks-spacer
    .row
      / ==========
      / = Main content =
      / ==========
      %section.span12
        / ==========
        / = Title =
        / ==========
        .underlined.push-down-20
          %h3
            %span.light= @page.title
        / /title
        / ==========
        / = Description=
        / ==========
        %section.blocks-spacer
          = raw @page.content