- content_for :title, 'Edit shipping option'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Shipping options', admin_shippings_path

.page-header
    %h1 
        Editing
        = @shipping.name

= render 'form'