- if @new_shippings.empty?
  %p There are no shipping options available for this country
- else
  %table.table.table-striped.table-bordered
    %tr
      %th Name
      %th Price
      - @new_shippings.each do |shipping|
        %tr
          %td= shipping.name
          %td= format_currency shipping.price