$("#cartContainer").html("<%=j render :partial => 'carts/cart' %>");
<% unless current_cart.cart_items.count == 0 %>
    $('.checkout-container .table-items tbody').html("<%=j render :partial => 'orders/cart' %>");
<% else %>
    $('.checkout-container .right-align').remove();
    $('.checkout-container .table-items').html('<h4>Your cart is empty</h4>');
<% end %>
$(".total_price").addClass("update").delay(1000).queue(function(next){
      $(this).removeClass("update");
      next();
  });
if (!$('.order-alert').is(':visible')) {
    $('.checkout-container .table-items').before('<div class="alert alert-success order-alert animated fadeInDown"><button data-dismiss="alert" class="close" type="button">×</button>Your cart has been updated successfully.</div>').delay(2300).queue(function(next){
        $('.order-alert').addClass('fadeOutUp').delay(800).hide(1);
        next();
    });
}