- content_for :title, "My cart"

.container
  .row
    / ==========
    / = Main content =
    / ==========
    %section.span12
      .checkout-container
        .row
          .span10.offset1
            / ==========
            / = Header =
            / ==========
            %header
              .row
                .span6.offset2
                  .center-align
                    %h1
                      %span.light My
                      cart
                .span2
                  .right-align
                    = image_tag 'webmarket/buttons/security.jpg', :alt => 'Security', :width => 92, :height => 65
            / ==========
            / = Selected Items =
            / ==========
            
            - if current_cart.cart_items.empty?
              .table.table-items
                %h4 Your cart is empty
            - else
              %table.table.table-items
                %thead
                  %tr
                    %th{colspan: "2"} Item
                    %th
                      .align-center
                    %th
                      .align-right Price
                %tbody
                  = render :partial => 'orders/cart'
            %hr/
            - unless current_cart.cart_items.empty?
              %p.right-align
                %a.btn.higher.bold#estimate-delivery-service-price ESTIMATE SHIPPING  
                = link_to "CHECKOUT", checkout_carts_path, :class => 'btn btn-primary higher bold'
    / /main content
/ /container
= render partial: 'carts/delivery_service_prices/estimate/modal', format: [:html]
#validateCartItem