- content_for :title, 'List shipping countries'
- content_for :breadcrumb, 'Shipping countries'
.page-header
  %h1 Listing shipping countries
  = link_to new_admin_country_path, :class => "btn btn-success" do
    %i.icon-plus
    New country
- if @countries.empty?
  %p You don't have any countries yet.
- else 
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th
    %tbody
      - @countries.each do |country|
        %tr
          %td= country.name
          %td= table_commands country, admin_country_path(country), edit_admin_country_path(country), admin_country_path(country), 1
