<% content_for :title, "Order ##{@order.id} successful" %>
<div class="container">
    <div class="row" id="success-order">
        <div class='col-lg-8 col-lg-offset-2 col-sm-12'>
            <h1>Order #<%= @order.id %> Successful</h1>
            <p>
              Thank you <b><%= @order.delivery_address.full_name %></b> your order has now been received
            </p>
            <p>
              You should shortly be receiving an email receipt to the email address provided (<%= @order.email %>). Please check your spam folders and get in touch quoting your order number if this does not arrive.
            </p>
            <p>We will usually dispatch your order within the next 1-2 working days (product dependent, some items may take longer to prepare than others).</p>
            <p>If you have any questions then please contact us. Thank you for your custom!</p>
        </div>
    </div>
</div>
