- content_for :title, '404 Error'

.darker-stripe
.container
  .push-up.blocks-spacer
    .row
      %section.span12
        %p.container-404
          = image_tag 'webmarket/404.png', :alt => '404 Error', :height => 161, :width => 394
        %hr/
        %p.center-align.size-16
          Looks like something went wrong! The page you were looking for is not here.
        %p.center-align.size-16.push-down-50
          Go
          = "#{link_to 'Home', root_path}.".html_safe