/ ==========
/ = Breadcrumbs =
/ ==========
.darker-stripe
  .container
    .row
      .span12
        %ul.breadcrumb
          %li
            %a{href: "index.html"} Webmarket
          %li
            %span.fa.fa-chevron-right
          %li
            %a{href: "about-us.html"} About Us
.container
  .push-up.blocks-spacer
    .row
      / ==========
      / = Sidebar =
      / ==========
      %aside.span3
        .sidebar-item
          / ==========
          / = Sidebar Title =
          / ==========
          .underlined
            %h3
              %span.light Our
              Team
          / ==========
          / = Menu (affix) =
          / ==========
          .row
            #spyMenu.span3
              %ul.nav.nav-pills.nav-stacked
                %li.active
                  %a{href: "#jaka"}
                    Jaka Šmid
                    %i.fa.fa-caret-right.pull-right
                %li
                  %a{href: "#primoz"}
                    Primož Cigler
                    %i.fa.fa-caret-right.pull-right
                %li
                  %a{href: "#ana"}
                    Ana Karenina
                    %i.fa.fa-caret-right.pull-right
                %li
                  %a{href: "#andre"}
                    Andre Agassi
                    %i.fa.fa-caret-right.pull-right
      / /sidebar
      / ==========
      / = Main content =
      / ==========
      %section.span9
        / ==========
        / = Title =
        / ==========
        .underlined.push-down-20
          %h3
            %span.light A
            Little Something About Us
        / /title
        / ==========
        / = Description=
        / ==========
        %section.blocks-spacer
          %h5
            %span.light How
            Everything Started
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ornare, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet interdum ligula placerat. Maecenas auctor, sem nec eleifend blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ornare, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet interdum ligula placerat. Maecenas auctor, sem nec eleifend blandit.
          %h5
            %span.light What
            Happens Next
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ornare, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet interdum ligula placerat. Maecenas auctor, sem nec eleifend blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ornare, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet interdum ligula placerat. Maecenas auctor, sem nec eleifend blandit.
          %h5
            %span.light And
            Who We Are Today!
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ornare, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet interdum ligula placerat. Maecenas auctor, sem nec eleifend blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ornare, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet interdum ligula placerat. Maecenas auctor, sem nec eleifend blandit.
        / ==========
        / = Team Members =
        / ==========
        %section
          / ==========
          / = Title =
          / ==========
          .underlined.push-down-20
            %h3
              %span.light Faces
              Behind The Webmarket
          / /title
          / = Jaka - designer =
          #jaka.row-fluid.push-down-20
            .span4
              %a{href: "#"}
                %img{alt: "person", height: "660", src: "images/dummy/about-us/profile-1.jpg", width: "550"}/
            .span4
              %h4
                %span.light Jaka
                Šmid
              %h6.move-title-up Senior Designer
              %p Lorem ipsum dolor sit amet, coetur adipiscing elit. Ut feugiat mauris et magna egestas porta. Curabiturittis sagittis neque rutrum congue. Dec lobortis dui sagittis, ultrices nuncre, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet inteum ligula placerat. Maecenas auctor, sem nec eleifend blandit. Lorem ipsum dolor sit amet.
            .span4
              %blockquote
                %i.fa.fa-quote-left.fa-5x
                %p Lorem ipsum dolor sit amet, coetur adipiscing elit. Ut feugiat mauris et magna egestas porta. Curabiturittis sagittis neque rutrum congue. Dec lobortis dui sagittis, ultrices nuncre. Dec lobortis dui sagittis, ultrices nuncre. Lorem ipsum dolor sit amet, coetur adipiscing elit.
          / = Primož - programmer =
          #primoz.row-fluid.push-down-20
            .span4
              %blockquote
                %i.fa.fa-quote-left.fa-5x
                %p Lorem ipsum dolor sit amet, coetur adipiscing elit. Ut feugiat mauris et magna egestas porta. Curabiturittis sagittis neque rutrum congue. Dec lobortis dui sagittis, ultrices nuncre. Dec lobortis dui sagittis, ultrices nuncre. Lorem ipsum dolor sit amet, coetur adipiscing elit.
            .span4
              %h4
                %span.light Primož
                Cigler
              %h6.move-title-up Code Ninja
              %p Lorem ipsum dolor sit amet, coetur adipiscing elit. Ut feugiat mauris et magna egestas porta. Curabiturittis sagittis neque rutrum congue. Dec lobortis dui sagittis, ultrices nuncre, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet inteum ligula placerat. Maecenas auctor, sem nec eleifend blandit. Lorem ipsum dolor sit amet.
            .span4
              %a{href: "#"}
                %img{alt: "person", height: "660", src: "images/dummy/about-us/profile-2.jpg", width: "550"}/
          / = Ana =
          #ana.row-fluid.push-down-20
            .span4
              %a{href: "#"}
                %img{alt: "person", height: "660", src: "images/dummy/about-us/profile-4.jpg", width: "550"}/
            .span4
              %h4
                %span.light Ana
                Karenina
              %h6.move-title-up Customer Relationship
              %p Lorem ipsum dolor sit amet, coetur adipiscing elit. Ut feugiat mauris et magna egestas porta. Curabiturittis sagittis neque rutrum congue. Dec lobortis dui sagittis, ultrices nuncre, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet inteum ligula placerat. Maecenas auctor, sem nec eleifend blandit. Lorem ipsum dolor sit amet.
            .span4
              %blockquote
                %i.fa.fa-quote-left.fa-5x
                %p Lorem ipsum dolor sit amet, coetur adipiscing elit. Ut feugiat mauris et magna egestas porta. Curabiturittis sagittis neque rutrum congue. Dec lobortis dui sagittis, ultrices nuncre. Dec lobortis dui sagittis, ultrices nuncre. Lorem ipsum dolor sit amet, coetur adipiscing elit.
          / = Andre =
          #andre.row-fluid.push-down-20
            .span4
              %blockquote
                %i.fa.fa-quote-left.fa-5x
                %p Lorem ipsum dolor sit amet, coetur adipiscing elit. Ut feugiat mauris et magna egestas porta. Curabiturittis sagittis neque rutrum congue. Dec lobortis dui sagittis, ultrices nuncre. Dec lobortis dui sagittis, ultrices nuncre. Lorem ipsum dolor sit amet, coetur adipiscing elit.
            .span4
              %h4
                %span.light Andre
                Agassi
              %h6.move-title-up Customer Relationship
              %p Lorem ipsum dolor sit amet, coetur adipiscing elit. Ut feugiat mauris et magna egestas porta. Curabiturittis sagittis neque rutrum congue. Dec lobortis dui sagittis, ultrices nuncre, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet inteum ligula placerat. Maecenas auctor, sem nec eleifend blandit. Lorem ipsum dolor sit amet.
            .span4
              %a{href: "#"}
                %img{alt: "person", height: "660", src: "images/dummy/about-us/profile-3.jpg", width: "550"}/
        %hr/
      / /main content
/ /container