- content_for :title, 'Edit SKU attribute type'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'SKU attribute types', admin_products_skus_attribute_types_path
- content_for :header, "Editing #{@attribute_type.name} attribute type"
- content_for :hide_sub_navigation, 'hide_subnav'

= render 'form'

