- content_for :title, 'Product attribute types'
- content_for :breadcrumb, 'Attribute types'
- breadcrumb_add 'Products', admin_products_path

.twelvecol
  .page-header
    = link_to new_admin_products_skus_attribute_type_path, :class => "btn btn-blue btn-large", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Add attribute type" do
      %i.icon-plus
    %h2.widget.widget-header Attribute types
  - if @attribute_types.empty?
    %p You don't have any product atttribute types yet.
  - else
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Name
            %th Measurement
            %th
        %tbody
          - @attribute_types.each do |attribute_type|
            %tr
              %td= attribute_type.name
              %td= attribute_type.measurement
              = table_actions [:admin, :products, :skus, attribute_type], 'edit', 'delete'

