- content_for :title, 'New SKU attribute type'
- content_for :breadcrumb, 'New'
- breadcrumb_add 'SKU attribute types', admin_products_skus_attribute_types_path
- content_for :header, 'New attribute type'
- content_for :hide_sub_navigation, 'hide_subnav'

= render 'form'
