<div aria-hidden="true" aria-labelledby="deliveryServiceModalLabel" class="modal fade" id="delivery-service-form" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form accept-charset="UTF-8" action="/admin/delivery_services/set_countries" data-remote="true" method="post" role="form">
        <div style="display:none">
          <input name="utf8" type="hidden" value="✓">/</input>
          <input name="_method" type="hidden" value="post">/</input>
        </div>
        <div class="json" id="errors">
          <ul></ul>
        </div>
        <div class="modal-header">
          <h3 id="orderModalLabel">
            Copy delivery service countries
          </h3>
        </div>
        <div class="modal-body">
          <fieldset class="widget widget-content widget-last">
            <p>Select which delivery service you would like to copy the country list from:</p>
            <div class="form-group form-last"></div>
            <%= select_tag :delivery_service_id, options_for_select(@delivery_services.map { |delivery_service| [delivery_service.full_name, delivery_service.id ] }), prompt: "Select a delivery service...", :class => 'form-control' %>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button class="btn btn-orange btn-large" data-dismiss="modal" type="button">Close</button>
          <%= submit_tag 'Submit', :class => 'btn btn-blue btn-large' %>
        </div>
      </form>
    </div>
  </div>
</div>