#= require jquery
#= require jquery_ujs
#= require bootstrap.min
#= require jquery.carouFredSel-6.2.1-packed
#= require jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min
#= require jquery-ui-1.10.3/touch-fix.min
#= require custom
#= require underscore/underscore-min
#= require isotope/jquery.isotope.min
#= require modernizr.custom.56918
#= require spin
#= require jquery.spin
#= require typeahead_2
#= require hogan-2.0.0
#= require _trado
#= require trado.misc
#= require trado.animation
#= require trado.modal
#= require trado.tracking
#= require trado.app

# Set the tracking code for GA
root.tracking_code = "<%= Store::settings.ga_code %>"

$(document).ready ->
    trado.tracking.init()

    trado.modal.loading('.paypal_checkout', '#paypalModal')
    trado.modal.loading('.confirm_order', '#confirmOrderModal')
    trado.modal.open('.notify_me', '#notifyMeModal')

    trado.animation.loadingSettings()

    trado.app.updatePrice('/product/skus/update?sku_id=', '&accessory_id=', '#cart_item_sku_id', '#cart_item_cart_item_accessory_accessory_id');
    trado.app.updatePrice('/product/accessories/update?accessory_id=', '&sku_id=', '#cart_item_cart_item_accessory_accessory_id', '#cart_item_sku_id');

    shippingSelector()
    
    typeaheadEngine()
    updateAccessory()
    useBillingAddress()
    
$(document).ajaxComplete ->
    trado.modal.open('.notify_me', '#notifyMeModal')

    trado.animation.loadingSettings()

    trado.app.updatePrice('/product/skus/update?sku_id=', '&accessory_id=', '#cart_item_sku_id', '#cart_item_cart_item_accessory_accessory_id');

    shippingSelector()
    
    formJsonErrors()

    $('.update_shipping #address_country').change ->
        unless @value is ""
        	$.ajax '/order/shippings/update',
        		type: 'GET'
        		data: {'country_id' : @value, 'tier_id' : $('.shipping-methods').attr 'data-tier' }
        		dataType: 'html'
        		success: (data) ->
        			$('.shipping-methods .control-group .controls').html data
        else 
            $('.shipping-methods .control-group .controls').html '<p class="shipping_notice">Select a shipping country to view the available shipping options.</p>'

    $('#update_quantity').click ->
        $('.edit_cart_item').each ->
            $(@).submit()

    



formJsonErrors = ->
    $(document).on "ajax:error", "form", (evt, xhr, status, error) ->
        errors = $.parseJSON(xhr.responseJSON.errors)
        $.each errors, (key, value) ->
            $element = $("input[name*='" + key + "']")
            $error_target = '.error_explanation'
            if $element.parent().next().is $error_target
                $($error_target).html '<span>' + key + '</span> ' + value
            else 
                $element.wrap '<div class="field_with_errors"></div>'
                $element.parent().after '<span class="' + $error_target.split('.').join('') + '"><span>' + key + '</span> ' + value + '</span>'

shippingSelector = ->
    $('.shipping-methods .option').click ->
        $(@).find('input:radio').prop 'checked', true
        $('.option').removeClass 'active'
        $(@).addClass 'active'
    $('.shipping-methods .option input:radio').each ->
        $(@).parent().addClass 'active' if $(@).is ':checked'

useBillingAddress = ->
    $('.use_billing_address').change ->
        if @checked
            $('.use_billing').each ->
                $(@).val $(@).next('div').text()
            $('.field_with_errors').each ->
                $(@).children('input').val $(@).next('div').text()
        else
            $('.use_billing').val ''

typeaheadEngine = ->
    $("#navSearchInput").typeahead(
        remote: "/search/autocomplete?utf8=✓&query=%QUERY"
        # prefetch: "/search.json"
        template: " <div class='inner-suggest'>
                        <img src='{{image.file.url}}' height='45' width='45'/>
                        <span>
                            <div>{{value}}</div>
                            <div>{{category_name}}{{}}</div>
                        </span>
                    </div>"
        engine: Hogan
        limit: 4
    ).on "typeahead:selected", ($e, data) ->
        window.location = "/categories/" + data.category_slug + "/products/" + data.product_slug

