<% content_for :title, 'Edit category' %>
<% content_for :breadcrumb, 'Edit' %>
<% breadcrumb_add 'Categories', admin_categories_path %>

<div class="twelvecol">
  <div class="page-header">
    <h2 class="widget widget-header">Edit category</h2>
  </div>
  <%= form_for [:admin, @category], html: { role: 'form' } do |f| %>
    <div class="threecol"></div>
    <div class="ninecol last">
      <%= render partial: 'shared/errors', locals: { object: @category } %>
    </div>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
