- content_for :title, 'Edit product'
- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Products', admin_products_path
- javascript 'products'

.twelvecol
  .page-header
    %h2.widget.widget-header Edit product
  = render "form"
   
