- content_for :title, 'New product'
- content_for :breadcrumb, 'New'
- breadcrumb_add 'Products', admin_products_path
- javascript 'products'

.twelvecol
  .page-header
    %h2.widget.widget-header New product
  = render "form"
