- content_for :breadcrumb, 'Edit'
- breadcrumb_add 'Accessories', product_options_path

%h1 Editing product option

= render 'form'

= link_to 'Show', @product_option
\|
= link_to 'Back', product_options_path
