$('#sku-variants-form').modal('hide');
$('#add-sku-button').addClass('hide');
$('#skus').html('<div class="helper-notification"><p>You do not have any variants for this product.</p><i class="icon-tags"></i></div>');
soca.animation.alert(
    '#skus',
    'success',
    'sku-variant-reset-alert',
    '<i class="icon-checkmark-circle"></i>Successfully reset the variants for this product.',
    3500
)