$('#sku-variants-form').modal('hide');
<% unless @product.skus.active.empty? %>
    $('#skus').html('<%=j render "admin/products/skus/table" %>');
<% else %>
    $('#add-sku-button').addClass('hide');
    $('#skus').html('<div class="helper-notification"><p>You do not have any variants for this product.</p><i class="icon-tags"></i></div>')
<% end %>
soca.animation.alert(
    '#skus',
    'success',
    'sku-variant-update-alert',
    '<i class="icon-checkmark-circle"></i>Successfully deleted <%= pluralize(variant_count, "variant") %>.',
    3500
)