//= require bootstrap
//= require bootstrap-responsive
//= require core
//= require font-awesome_custom
body {

}
textarea {
    resize:none;
}
.main-menu {
    li.active a {
        color:#1abc9c;
        font-weight: bold;
    }
}
.checkout {
    .tab-pane {
        overflow:hidden;
    }
    .shipping_selector {
        margin-top: 20px;
    }
}
#errors ul {
    list-style-type: decimal;
}