//= require bootstrap
//= require responsive
//= require jquery-ui-1.10.3.custom.min
//= require prettyPhoto
//= require main
@import "compass/css3";

body {

}
textarea {
    resize:none;
}
.main-menu {
    li.active a {
        color:#1abc9c;
        font-weight: bold;
    }
}
.checkout {
    .tab-content {
        overflow:inherit;
    }
    .shipping_selector {
        margin-top: 20px;
    }
    .update_country {
        margin:8px 0 0 10px;
    }
    select {
        width:195px;
    }
    .shipping_option {
        cursor: pointer;
    }
}

@import "product";