//= require bootstrap
//= require bootstrap-responsive
//= require core
//= require font-awesome_custom
body {

}
textarea {
    resize:none;
}
.main-menu {
    li.active a {
        color:#1abc9c;
        font-weight: bold;
    }
}