.total_price {
    @include transition-property(color);
    @include transition-timing-function(ease-in);
    @include transition-duration(0.4s);
        &.update {
            color:#EE2C2C !important;
        }
}
.checkout-container {
    .table-items {
        td[rowspan="1"] {
            border:0;
        }
        h4 {
            text-align: center;
            margin-bottom: 27px;
        }
        .desc div {
            font-weight: normal;
            font-size:11px;
        }
    }
    .no-margin input[type="radio"] {
        margin: 0 0 5px 10px
    }
    .icon-stack {
        color: green;
    }
    .icon-stack + p {
        display: inline-block;
        margin:0 0 19.5px 10px;
    }
    .terms-checkbox {
        overflow: hidden;
        margin:15px 0 10px;

        span {
            display: block;
        }    
        p, input[type=checkbox] {
            float:right;
        }
        input[type=checkbox] {
            margin-left:15px;
        }
    }
    .shipping-methods {
        overflow:hidden;
            .option {
                float:left;
                padding: 10px;
                border-radius: 5px;
                background-color: white;
                border: 1px solid #cccccc;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
                -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
                -o-transition: border linear 0.2s, box-shadow linear 0.2s;
                transition: border linear 0.2s, box-shadow linear 0.2s;
                text-align: center;
                width:200px;
                margin: 0 10px 10px 0;
                cursor: pointer;
                @include transition-property(color, background);
                @include transition-duration(0.05s, 0.4s);
                @include transition-timing-function(linear, linear);
                    input[type="radio"] {
                        margin:0;
                    }
                    &:last-child {
                        margin:0;
                    }
                    &.active {
                        color: white;
                        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
                        background-color: #da4e49; 
                        background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f); 
                        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f)); 
                        background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f); 
                        background-image: -o-linear-gradient(top, #ee5f5b, #bd362f); 
                        background-image: linear-gradient(to bottom, #ee5f5b, #bd362f); 
                        background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEE5F5B', endColorstr='#FFBD362F', GradientType=0); 
                        border-color: #bd362f #bd362f #802420; 
                        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); 
                        *background-color: #bd362f; /* Darken IE7 buttons by default so they stand out more given they won't have borders */ 
                        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
                            h5, h6 {
                                color:white;
                            }
                    }
            }
            .shipping_notice {
                margin:5px 0 9.5px 0;
            }
    }
}
#paypalModal, #confirmOrderModal {
    .modal-body p {
        text-align: center;
    }
}
form.shipping_address input[type="text"] + div {
    display:none;
    text-indent: -9999px;
}
form.shipping_address .field-with-errors + div {
    display:none;
    text-indent: -9999px;
}