.product_sku_form {
    select {
        width:140px;
    }
}
.add_to_cart, .notify_me {
    @include transition-property(display);
    @include transition-timing-function(ease-in);
    @include transition-duration(0.4s);
}
.notify_me {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    text-transform: uppercase;
}
.product-description #accessory {
    margin-left:7px;
}
.gross_price {
    font-weight: bold;
    color: #e54b5d;
    margin-top: 7px;
    font-size: 12px;
}
.product-title {
    margin-bottom:20px;
}