- content_for :title, @category.name
- content_for :breadcrumb, @category.name
- content_for :meta_description, @category.description
/ ==========
/ = Breadcrumbs =
/ ==========
= render_breadcrumbs 1
.container
  .push-up.blocks-spacer
    .row
      / ==========
      / = Sidebar =
      / ==========
      %aside#tourStep1.span3.left-sidebar
        #sidebarFilters.sidebar-item.sidebar-filters
          / ==========
          / = Sidebar Title =
          / ==========
          .underlined
            %h3
              %span.light Shop
              by filters
          / /categories
          / ==========
          / = Prices slider =
          / ==========
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{"data-toggle" => "collapse", href: "#filterPrices"}
                Price
                %b.caret
            #filterPrices.accordion-body.in.collapse
              .accordion-inner.with-slider
                .jqueryui-slider-container
                  #pricesRange
                %input.max-val.pull-right{"data-initial" => "432", disabled: "disabled", type: "text"}/
                %input.min-val{"data-initial" => "99", disabled: "disabled", type: "text"}/
          / /prices slider
          %a#removeFilters.remove-filter{href: "#"}
            %span.icon-ban-circle
            Remove All Filters
      / /sidebar
      / ==========
      / = Main content =
      / ==========
      %section.span9
        / ==========
        / = Title =
        / ==========
        .underlined.push-down-20
          .row
            .span4
              %h3
                %span.light All
                Products
            .span5.align-right.sm-align-left
              #tourStep4.form-inline.sorting-by
                %label.black-clr{for: "isotopeSorting"} Sort:
                %select#isotopeSorting.span3
                  %option{value: "{\"sortBy\":\"price\", \"sortAscending\":\"true\"}"} By Price (Low to High) ↑
                  %option{value: "{\"sortBy\":\"price\", \"sortAscending\":\"false\"}"} By Price (High to Low) ↓
                  %option{value: "{\"sortBy\":\"name\", \"sortAscending\":\"true\"}"} By Name (Low to High) ↑
                  %option{value: "{\"sortBy\":\"name\", \"sortAscending\":\"false\"}"} By Name (High to Low) ↓
        / /title
        / ==========
        / = Products =
        / ==========
        .row.popup-products
          #isotopeContainer.isotope-container
            - @category.products.active.each do |product|
              / ==========
              / = Single Product =
              / ==========
              .span3.isotope--target.filter--accessories{"data-brand" => product.name, "data-price" => product.skus.first.price}
                .product
                  .product-inner
                    .product-img
                      .picture
                        = link_to (image_tag product.attachments.first.file.large, :alt => product.name, :width => 540, :height => 374), [product.category, product]

                    .main-titles.no-margin
                      %h4.title= price_range(product)
                      %h5.no-margin.isotope--title= truncate product.name, :length => 35
        %hr/
      / /main content
/ /container