- content_for :title, 'New zone'
- content_for :breadcrumb, 'New'
- breadcrumb_add 'Shipping zones', admin_shippings_zones_path
- content_for :header, 'New zone'
- content_for :hide_sub_navigation, 'hide_subnav'

= render 'form'
