- content_for :title, 'New product attribute type'
- content_for :breadcrumb, 'New'
- breadcrumb_add 'Product attribute types', admin_attribute_types_path
.page-header 
    %h1 New product attribute type

= render 'form'
