<% @sku = Sku.where('id = ?', sku_id).first %>
$('.price').html('<%= format_currency @sku.price %>');
<% if @sku.stock < 1 %>
    $('.stock').html('<span class="btn btn-danger">Out of Stock</span>');
    $('.add_to_cart').hide();
<% else %>
    $('.stock').html('<span class="btn btn-success">In Stock</span>');
    $('.add_to_cart').show();
<% end %>