<% @dimension = Dimension.where('id = ?', dimension_id).first %>
$('.price').html('<%= format_currency @dimension.price %>');
<% if @dimension.stock < 13 %>
    $('.stock').html('<span class="btn btn-danger">Out of Stock</span>');
    $('.add_to_cart').hide();
<% else %>
    $('.stock').html('<span class="btn btn-success">In Stock</span>');
    $('.add_to_cart').show();
<% end %>