<div class="row">
  <div class="col-lg-6">
    <%= image_tag @product.image_url %>
  </div>
  <div class="col-lg-6">
    <h1><%= @product.title %></h1>
    <h3><%= @product.price %></h3>
    <%= @product.description %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#home">Home</a></li>
      <li><a href="#profile">Profile</a></li>
      <li><a href="#messages">Messages</a></li>
      <li><a href="#settings">Settings</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="home">...</div>
      <div class="tab-pane" id="profile">...</div>
      <div class="tab-pane" id="messages">...</div>
      <div class="tab-pane" id="settings">...</div>
    </div>
  </div>
</div>
