<% @accessory_price =  Accessory.where(id: params[:accessory_id]).pluck(:price).first ? Accessory.where(id: params[:accessory_id]).pluck(:price).first : 0
   @sku = Sku.find(params[:sku_id])
%>
$('.product-title span.price').html('<%=j Store.Price.new(price: (@sku.price + @accessory_price)).markup %>');
<% if @sku.stock < 1 %>
    $('.stock').html('<span class="btn btn-danger">Out of Stock</span>');
    $('.add-to-cart').replaceWith("<%=j link_to('<i class=\'fa fa-envelope\'></i> Notify me'.html_safe, notify_category_product_sku_path(@sku.product.category, @sku.product, @sku), :class => 'btn btn-warning pull-right notify-me', remote: true) %>");
<% else %>
    $('.stock').html('<span class="btn btn-success">In Stock</span>');
    $('.notify-me').replaceWith("<button class=\"btn btn-danger pull-right add-to-cart\" type=\"submit\"><i class=\"fa fa-shopping-cart\"></i> &nbsp; Add To Cart</button>");
<% end %>