%section.static_page_1
  .container
    .row
      .span12
        %section.static-page
          .row-fluid
            .span3
              / Static page navigation
              %ul.nav.nav-tabs.nav-stacked
                %li
                  %a.title{href: "about-us.html", title: "About us"} About us
                %li
                  %a.title{href: "typography.html", title: "Typography"} Typography
                %li
                  %a.title{href: "retina-ready-icons.html", title: "Retina-ready icons"} Retina-ready icons
                %li
                  %a.title{href: "buttons.html", title: "Buttons"} Buttons
                %li
                  %a.title{href: "elements.html", title: "Elements"} Elements
                %li
                  %a.title{href: "grids.html", title: "Grids"} Grids
                %li
                  %a.title{href: "store-locator.html", title: "Store locator"} Store locator
                %li
                  %a.title{href: "contact-us.html", title: "Contact us"} Contact us
              / End static page navigation
            .span9
              .content
                %h1 Responsive. Flexible & sleek.
                %p.lead
                  %a{href: "http://themeforest.net/user/Tfingi/"} La Boutique
                  is a sleek responsive eCommerce template built with the powerful
                  %a{href: "http://getbootstrap.com/2.3.2/", target: "_blank"}
                    %strong Bootstrap
                  front-end framework.
                %p
                  Wafer macaroon sweet roll fruitcake. British
                  %abbr{title: "Cascading Style Sheet"} CSS
                  carrot cake tiramisu jelly sugar plum. Dragée sweet roll soufflé. Wafer candy lemon drops cupcake muffin. Oat cake tootsie roll pie muffin pudding jelly-o. Chupa chups tart tart fruitcake bonbon bear claw croissant chocolate. Fruitcake candy canes chocolate bar gingerbread jujubes lemon drops dragée toffee halvah.
                %hr/
                %h3 Features
                .row-fluid
                  .span4
                    %h5
                      %i.icon-tint.icon-larger
                      Sixteen skins
                    %p
                      The theme comes with
                      %strong 16 preset colour shemes
                      to choose from -
                      %em Or maybe you wish to create your own?
                  .span4
                    %h5
                      %i.icon-eye-open.icon-larger
                      360+ icons
                    %p
                      A gorgeous collection of
                      %strong retina-ready icons
                      for sharp display on mobile devices with five different sizes.
                  .span4
                    %h5
                      %i.icon-thumbs-up.icon-larger
                      Social media
                    %p Built-in social media tools allowing your customers to engage with your products and share them with ease.
                .row-fluid
                  .span4
                    %h5
                      %i.icon-text-width.icon-larger
                      Typography
                    %p
                      We have packed La Boutique with a wealth of
                      %a{href: "/typography.html"} typography elements
                      \-
                      %em including block quotes.
                  .span4
                    %h5
                      %i.icon-medkit.icon-larger
                      Support
                    %p
                      A dedicated team provides timely and effective support whenever you need a hand getting things right -
                      %em just shout!
                  .span4
                    %h5
                      %i.icon-mobile-phone.icon-larger
                      Fully responsive
                    %p
                      Mobile first! La Boutique is designed for an
                      %strong optimum user experience
                      on mobile devices leading to higher conversions.
                .row-fluid
                  .span4
                    %h5
                      %i.icon-star.icon-larger
                      Product reviews
                    %p
                      Built-in
                      %strong Facebook
                      comments for your customers to tell the world why they love your products!
                  .span4
                    %h5
                      %i.icon-search.icon-larger
                      Instant search
                    %p
                      Time is money, right? Provide your customers with
                      %strong live search results
                      as they type their query.
                  .span4
                    %h5
                      %i.icon-user.icon-larger
                      Guest checkout
                    %p
                      Some customers sign-in, some create an account on your webstore... while others like to
                      = succeed "." do
                        %strong check-out as guests
                %hr/
                .hero-unit
                  %h1 Get La Boutique
                  %p
                    %strong La Boutique
                    template is available exclusively from
                    %a{href: "http://themeforest.net/user/Tfingi/"} ThemeForest
                  %p
                    %a.btn.btn-primary.btn-large{href: "http://themeforest.net/user/Tfingi/"}
                      %i.icon-shopping-cart.icon-larger
                        BUY NOW