!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Login Page - Ace Admin
    %meta{content: "User login page", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag :administration
    = csrf_meta_tag
    %link{href: "http://fonts.googleapis.com/css?family=Oswald:300,400,700|Open+Sans:400,700,300|Roboto:100,300,400,700|Roboto+Condensed:300,400,700", rel: "stylesheet"}/
    %link{href: "/stylesheets/font.css", rel: "stylesheet", media: "screen"}
    / inline styles related to this page
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
  %body
    .all-wrapper.no-menu-wrapper.light-bg
      = yield
    / basic scripts
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
